html {
  background-image: url(/static/images/background-web.png);
  background-size: cover;
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 170%;
  margin-top: 50px;
  background: transparent;
  margin-bottom: 60px;
}

h1 {
  font-size: 300%;
  margin-bottom: 0.3em;
  margin-top: 0;
}
h1, h2, h3, h4 {
  font-weight: 300;
}

.foot {
  margin-top: 1em;
  color: #999;
  font-size: 80%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.foot a {
  color: #666;
}

.message {
	margin-top: -40px;
}
.message h1 {
	font-size: 150%;
	font-weight: bold;
}