{% extends "base.html" %}

{% block title %}Hem{% endblock %}

{% block body %}

    <div class="row">
	    <div class="hidden-xs col-sm-7 col-md-6 col-lg-5" style="margin-top: -50px; margin-bottom: -60px;">
		    <img class="img-responsive" src="{{url_for('static', filename='images/horn.png')}}">
	    </div>
	    <div class="visible-xs col-xs-8 col-xs-offset-2" style="margin-top: -50px;">
		    <img class="img-responsive" src="{{url_for('static', filename='images/horn-mob.png')}}">
	    </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-lg-offset-1">
			<br>
			<h1>Om Hesa Fredrika</h1>
			
			<h3>Viktigt Meddelande till Allmänheten via App</h3>
			<br><br>		
			<p>Idag får en stor majoritet av befolkningen stora mängder av notifikationer i fickan. Varför ska då dessa få potentiellt livsviktiga meddelanden enbart distribueras genom en ljudsignal, följt av meddelande via lokalradio?</p>

			<p>Vi vill med detta projekt visa hur enkelt det är att göra just detta, samt visa på möjligheterna som ett digitalt distributionssystem kan tillföra.</p>
			<p>Ljudsignalen, i folkmun kallad Hesa Fredrik, som används för VMA har fått ge namn till Hesa Fredrika.</p>
			
			<p>Vill du få kontakt med oss gör du det enklast via "tut at hesafredrika punkt se".</p>
			
			<h3>Teknik</h3>
			<p>Appen använder push-notifieringar för att skicka ut alarm. Ingen användarinformation sparas på våra servrar utan appen kollar om enheten är i det område som push-notifieringen täcker, eller om något av de områden som man själv har lagt till i appen matchar alarmets område.</p>
			<p>Om du valt att ange din epostadress, kommer vi enbart att maila ut VMA, och inget annat.</p>
			
			<h3>Finansiering och källkod</h3>
			<p><b>Detta projekt har gjorts möjligt genom finansiering av <a href="https://www.iis.se" target="_blank">Internetfonden IIS</a> (Internetstiftelsen i Sverige).</b></p>
			<br>
			<p><b>Hesa Fredrika är öppen källkod (Open Source) och du kan hitta hela projektet här: <a href="https://gitlab.com/hesafredrika" target="_blank">gitlab.com/hesafredrika</a>.</b></p>
			<br>
			<a href="/">&laquo; {{ gettext('Tillbaka') }}</a>
			<h3>Datalagring</h3>
        </div>
    </div>

{% endblock %}
