<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<meta name="flattr:id" content="14zd8j">

        {% block css %}
        {% endblock %}

	{% if current_user.is_authenticated() %}
		<script data-require="jquery@*" data-semver="2.0.3" src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    	<script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	{% endif %}
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
   		<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.3.2/css/simple-line-icons.css" rel='stylesheet' type='text/css'>
		<link href="{{url_for('static', filename='css/hesafredrika.css')}}" rel="stylesheet" media="screen">
		  
		{#

		{% if current_user.is_authenticated() %}
		  {% if current_user.is_admin() == 'True' %}
			<link href="{{url_for('static', filename='css/admin.css')}}" rel="stylesheet" media="screen">
			<link href="{{url_for('static', filename='css/jquery.embed.min.css')}}" rel="stylesheet" media="screen">
		  {% endif %}
		{% endif %}

		#}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>

    <body>

{% if current_user.is_authenticated() %}
  {% include 'header.html' %}
{% endif %}

        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block body %}
            {% endblock %}

        </div>
        
        {% block js %}
        {% endblock %}

		<!-- child template -->
		{% block content %}{% endblock %}
		
    {% include 'foot.html' %}

		
    </body>
</html>
