{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
			<div class="col-xs-offset-1">
				{{ gettext ("To send a message, enter your text and select the topic, then press send.") }}
			</div>
        </div>
    </div>
	<div>

	</div>

    <div class="row">
            <form role="form" action="" method="post">
                {{ form.hidden_tag() }}

            <div class="form-group", style="width: 25%">
                {{ form.topic_id.label }}
                {{ form.topic_id(class_="form-control") }}
                {% if form.topic_id.errors %}
                    {% for e in form.topic_id.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group" style="width: 50%">
                {{ form.subject.label }}
                {{ form.subject(class_="form-control", value="VMA - Viktigt meddelande till allmänheten") }}
                {% if form.subject.errors %}
                    {% for e in form.subject.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group", style="width: 50%">
                {{ form.location.label }}
				{{ form.location(class_="form-control", value="Torshavn Faroe Islands", size=10) }}
                {% if form.location.errors %}
                    {% for e in form.location.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group" style="width: 50%">
                {{ form.description.label }}
                {{ form.description(class_="form-control", value="Kort beskrivning utan HTML") }}
                {% if form.description.errors %}
                    {% for e in form.description.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group" style="width: 50%">
                {{ form.message.label }}
                {{ form.message(class_="form-control", cols="25", rows="10") }}
                {% if form.message.errors %}
                    {% for e in form.message.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
            </div>
		
    </div> {# end row #}
	<button type="submit" class="btn btn-primary">{{ gettext("Send") }}</button>
        </form>

{% endblock %}
