<!-- Navigation -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-menu"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
     <div class="navbar-left">
        <ul class="nav navbar-nav">
        {% if current_user.is_authenticated() %}
         	{% if current_user.admin %}
			<li><a href="{{ url_for('.send') }}"><span class="icon-feed"></span> {{ _("Send") }} </a></li>
			{% endif %}
		{% endif %}
        </ul>
     </div>
     <div class="navbar-right">
        <ul class="nav navbar-nav">
         {% if current_user.is_authenticated() %}
         	{% if current_user.admin %}
			<li><a href="{{ url_for('.dashboard') }}"><span class="icon-list"></span> {{ _("Logs") }} </a></li>
			<li><a href="{{ url_for('.topics') }}"><span class="icon-list"></span> {{ _("Topics") }} </a></li>
			{# <li><a href="{{ url_for('.volunteer') }}"><span class="icon-list"></span> {{ _("Volunteers") }} </a></li> #}
			<li><a href="{{ url_for('.signups') }}"><span class="icon-people"></span> {{ _("Subs") }} </a></li>
			{% endif %}
			<li><a href="{{ url_for('.users') }}"><span class="icon-people"></span> {{ _("Users") }} </a></li>
				{% if current_user.name %}
					<p class="navbar-text"><span class="icon-user"></span> {{current_user.name}}</p>
				{% else %}
					<p class="navbar-text"><span class="icon-user"></span> {{current_user.email}}</p>
				{% endif %}
				<li><a href="{{ url_for('.logout') }}"><span class="icon-logout"></span> {{ _("Sign out") }} </a></li>
          {% else %}
		  <li><a href="{{ url_for('.login') }}"><span class="icon-login"></span> {{ _("Sign in") }} </a></li>
	  	  {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div>
</nav>
