{% extends "base.html" %}

{% block title %}Hesa Fredrika{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-7 col-md-6">

            <div class="row">
            	<div class="hidden-xs col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4" style="margin-top: 50px;">
                <img class="img-responsive" src="{{url_for('static', filename='images/fredrika-logo.png')}}">
            	</div>
            	<div class="col-xs-10 col-xs-offset-1">
                <img class="img-responsive visible-xs" style="border-bottom: 1px solid #999; margin-bottom: 1em;" src="{{url_for('static', filename='images/splash-mobile.png')}}">
            	</div>
            </div><!-- .row -->
            
            <h1 class="text-center">Hesa Fredrika</h1>
            
			<h2 class="text-center">Viktigt Meddelande till Allmänheten!</h1>
            <p class="text-center">{{ gettext('Då Hesa Fredrika inte fått den spridning vi hoppats på samt p.g.a. kostnader för apputveckling har vi ingen möjlighet att driva projektet vidare och utveckla appen. Vill du fortfarande få varningar vid VMA så kan du istället prenumerera på dem via E-mail. Du kommer då få ett medelande varje gång det kommer ett nytt VMA, oavsett din plats.') }}</p>

{#
            
            <p class="text-center">{{ gettext('Få viktiga meddelanden till allmänheten, vädervarningar och annan kritisk samhällsinformation direkt till din mobiltelefon.') }}</p>
            <p class="text-center">{{ gettext('Ställ upp som frivillig när hjälporganisationer i din närhet behöver hjälp i en krissituation') }}</p>
            <div class="row" style="margin-bottom: 1em;">
                <div class="col-xs-12 visible-xs">
                  <br>
                </div>
               <div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 text-center">
                 <a href="https://itunes.apple.com/se/app/id1076296132"><img class="img-responsive" src="{{url_for('static', filename='images/appstore.png')}}"></a>     	
               </div>
               <div class="col-xs-6 col-sm-5 col-md-4 text-center">
                 <a href="https://play.google.com/store/apps/details?id=org.fredrika.hesa.android"><img class="img-responsive" src="{{url_for('static', filename='images/googleplay.png')}}"></a>  	
               </div>
            </div><!-- .row -->
#}
        </div>
<p>&nbsp;</p>

        <div class="hidden-xs col-sm-5 col-md-4 col-md-offset-1">
            <img class="img-responsive" src="{{url_for('static', filename='images/splash.png')}}"></p>
        </div>
    </div>

   {# form stuff #}
       <form role="form" action="" method="post"> {{ form.hidden_tag() }}
        <div class="row">
            <p>{{ gettext('Lägg till din emailadress för att få en uppdatering när det kommer en ny VMA:') }}</p>
        </div> {# end row #}

        <div class="row">
            <div class="col-md-2">
				Email
            </div>{# end col #}
            <div class="col-md-8">
                <div class="form-group">
                    {{ form.email(size=60) }}
                    {% if form.email.errors %}
                        {% for e in form.email.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>{# end col #}
        </div> {# end row #}

        <div class="row">
		<p>
            <div class="col-md-2">
			{{ gettext('Skriv in captchan') }}
			</div>
            <div class="col-md-8">
			<input type="text" name="captcha">
		   {{ captcha() }} <!-- This renders an <img> tag with the captcha img. -->
			</div>
		</p>
		</div>

        <button type="submit" class="btn btn-primary">{{ gettext('Send') }}</button>
       </form>


{% endblock %}
