{% extends "base.html" %}

{% block title %}Message log{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row" style="background-color: #ccc;">
			<div class="col-sm-2" align=center>
				Date - Time	
			</div>
			<div class="col-sm-1">
				Topic
			</div>
			<div class="col-sm-1" align=center>
				Active
			</div>
			<div class="col-sm-1" align=center>
				Error
			</div>
			<div class="col-sm-3">
				Location
			</div>
			<div class="col-sm-1">
				URL	
			</div>
			<div class="col-sm-1">
				Delivered
			</div>
			<div class="col-sm-2" align="center">
				Identifier
			</div>
			{#
			<div class="col-sm-1" align=center>
				Sender
			</div>
			#}
		</div>
		{% for l in data.items %}
			<div class="row" style="background-color: #{{ loop.cycle('eee', 'ddd') }};">
				<div class="col-sm-2">
					{{ l.created.strftime('%Y-%m-%d  %H:%M:%S') }}
				</div>
				<div class="col-sm-1">
					{{ l.topic.name }}
				</div>
				<div class="col-sm-1" align=center>
					{% if l.active %}
						<a href="{{ url_for('.dashboard', inactivate=l.id ) }} "> <span class="icon-check"></a>
					{% else %}
						<a href="{{ url_for('.dashboard', activate=l.id ) }} "> <span class="icon-plus"></a>
					{%endif%}
				</div>
				<div class="col-sm-1" align=center>
					{% if l.error %}
					{{ l.error }}
					{% endif %}
				</div>
				<div class="col-sm-3">
					{% if l.location[0] %}
					{{ l.location[0]['display_name'] }}
					{% else %}
					{{ l.location }}
					{% endif %}
				</div>
				<div class="col-sm-1">
					<a href="{{ url_for('main.message_public', mid=l.id ) }} ">link</a>
				</div>
				<div class="col-sm-1" align=center>
					{% if l.delivered %} <span class="icon-check"> {%endif%}
				</div>
				<div class="col-sm-2" align=center>
					<a href="{{ url_for('main.message_edit', mid=l.id ) }} ">{% if l.raw.identifier %} {{ l.raw.identifier }} {%endif%}</a>
				</div>
				{#
				<div class="col-sm-1" align=center>
					{% if l.user.name %} {{ l.user.name }} {%else%} {{ l.user.email }} {%endif%}
				</div>
				#}
			</div>
		{% endfor %}	
	</div> {# end container table #}

		{# pagination #}
      <div>
      {% if data.has_prev %}<a href="{{ data.prev_num }}">&lt;&lt; Previous page</a> | {% endif %}
          {% for page in data.iter_pages(left_edge=2, left_current=2, right_current=2, right_edge=2) %}
            {% if page %}
              {% if page != data.page %}
                <a href="{{ url_for('main.dashboard', page=page) }}">{{ page }}</a>
              {% else %}
                <strong>{{ page }}</strong>
              {% endif %}
            {% endif %}
          {% endfor %}
       {% if data.has_next %}
        | <a href="{{ url_for('main.dashboard', page=data.next_num) }}">Next page &gt;&gt;</a>
        {% endif %}
          </div>
        <div>
          <br>
          {% if data.has_next %}
            page: {{ data.page }} of {{ data.pages }}
          {% endif %}
        </div>



{% endblock %}
