{% extends "base.html" %}

{% block title %}{{ _('Message log') }}{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
	{# This page is used both for showing a single message (/message/22) and for multiple ones (/messages) #}

	<div class="container-fluid message">
		{% if data.items | length == 0 %}
			<p>
			{{ _("Sorry, This message does not exist.") }}
			</p>
			<p>
			{{ _("Follow this link to see all messages:") }} <a href="{{ url_for(".message_public") }}">{{ _("Message list") }}</a>
			</p>
		{% endif %}

		{% for item in data.items %}
			{#
			<div class="row">
			#}
			<div class="row">
				<p><span class="active">{% if item.active %}<span class="label label-success">{{ _('Active warning') }}</span>{%else%} <span class="label label-danger">{{ _('Inactive warning') }}</span>{%endif%}</span></p>
				<p>{{ item.topic.name }} {{ item.created.strftime('- %A %d %B %Y %H:%M') }} 
				{% if data.updated %}
				<p><({{ _('Updated') }} at: {{ item.updated.strftime('%A %d %B %Y %H:%M') }})</p>
				{% endif %}
				<!--<p>{{ _('Subject') }}: <span class="subject">{{ item.subject }}</span></p>-->
				<p><span class="message">
					{{ item.message | b64decode | safe }}
				</span></p>
				{% if item.url %}
				<p>{{ _('URL') }}: <span class="url">{{ item.url}}</span></p>
				{% endif %}
				<p><b>{{ item.location[0]['display_name'] }}</b></p>
				{# here be map #}
				<iframe width="380" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox={{ item.location[0]['boundingbox'][2] }}%2C{{ item.location[0]['boundingbox'][0] }}%2C{{ item.location[0]['boundingbox'][3] }}%2C{{ item.location[0]['boundingbox'][1] }}&amp;layer=mapnik&amp;marker={{ item.location[0]['lat'] }}%2C{{ item.location[0]['lon'] }}" style="border: 1px solid black"></iframe>
				<p>{{ _('Permanent link to this message') }}: <a href="{{ url_for('main.message_public', mid=item.id )}}">{{ _('Link') }}</a></p>

			</div>
			<hr class="divider">
		{% endfor %}	

			{# Pagination 
				Only show if there are multiple pages.
				This will also hide it when we only show a single item.
			#}
			{% if data.pages > 1 %}
			<div>
				{% if data.has_prev %}<a href="{{ data.prev_num }}">&lt;&lt; {{ _('Previous page') }}</a> | {% endif %}
				  {% for page in data.iter_pages(left_edge=2, left_current=2, right_current=2, right_edge=2) %}
					{% if page %}
					  {% if page != data.page %}
						<a href="{{ url_for('main.message_public', page=page) }}">{{ page }}</a>
					  {% else %}
						<strong>{{ page }}</strong>
					  {% endif %}
					{% endif %}
				  {% endfor %}
			   {% if data.has_next %}
			   | <a href="{{ url_for('main.message_public', page=data.next_num) }}">{{ _('Next page') }} &gt;&gt;</a>
			   {% endif %}
			 </div>
			 {% endif %} {# end pagination #}

	</div>{# end of container #}

{% endblock %}
