{% extends "base.html" %}

{% block title %}Message log{% endblock %}


{% block body %}

	{% block modal %}
   <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
            
                <div class="modal-body">
                    <p>You are about to delete this entry, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
	{% endblock %}

	<div class="container-fluid">
		<div class="row">
        	<form role="form" action="" method="post"> {{ form.hidden_tag() }}
			<div class="col-sm-2">
				To:<br/> 
				{{ data.topic.name }}
			</div>
			<div class="col-sm-1">
				Active: <br/>{{ form.active() }}
                    {% if form.active.errors %}
                        {% for e in form.active.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
			</div>
			<div class="col-sm-1">
				Error: <br/>{{ form.error() }}
			</div>
			<div class="col-sm-1">
				Delivered: <br/>{{ form.delivered() }}
			</div>
		</div>{# end row #}
		<div class="row">
			<div class="col-sm-12">
				Subject:<br/> {{ form.subject(size=80) }}
                    {% if form.subject.errors %}
                        {% for e in form.subject.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
			</div>{# end col #}
		</div>{# end row #}
		<div class="row">
			<div class="col-sm-12">
				Description:<br/> 
				{% if 'info' in data.raw %}
				<input id="description" name="description" size="80" type="text" value="{{ data.raw['info'][0]['description'] }}">
				{% else %}
					{{ form.description(size=80) }}
				{% endif %}
                    {% if form.description.errors %}
                        {% for e in form.description.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
			</div>{# end col #}
		</div>{# end row #}
		<div class="row">
			<div class="col-sm-12">
				Message:<br/>
				<textarea cols="80" id="message" name="message" rows="10">{{ data.message | b64decode }}</textarea>
                    {% if form.message.errors %}
                        {% for e in form.subject.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
			</div>{# end col #}
		</div>{# end row #}
		<div class="row">
			<div class="col-sm-12">
				<p>Location:</p>
				<input id="location" name="location" size="80" type="text" value="{% if 'display_name' in data.location[0] %}{{data.location[0].display_name }}{% else %}{{ data.location }}{% endif %}">
                    {% if form.location.errors %}
                        {% for e in form.location.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
			</div>{# end col #}
		</div>{# end row #}
		<div class="row">
			<div class="col-sm-12">
				<p>URL for more information: <i>Optional</i></p>
				<p>{{ form.url(size=80) }}
                    {% if form.url.errors %}
                        {% for e in form.url.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
				</p>
				<p>Created at: {{ data.created.strftime('%y-%m-%d %H:%M:%S') }}
				{% if data.updated %}
					- Updated at: {{ data.updated.strftime('%y-%m-%d %H:%M:%S') }}
				{% endif %}
			</div>{# end col #}
		</div>{# end row #}
		<div class="row">
			<div class="col-sm-8">
				<p>
					<button type="submit" class="btn btn-primary">Update</button> 
				</p>
				<p>(Update will not send a new message, only update the backend/API).</p>
			</form>
			</div>
			<div class="col-sm-4" style="float: right;">
				<button class="btn btn-default" data-href="{{ url_for('.message_edit', mid=data.id, delete=True) }}" data-toggle="modal" data-target="#confirm-delete">
					Delete this entry - <span class="icon-shield"></span>
				</button>
{#
				<a href="#" data-toggle="modal" data-href="{{ url_for('.message_edit', mid=data.id, delete=True) }}" class="btn btn-danger" role="button"> Delete this message - <span class="icon-shield"></span></a>
#}
			</div>{# end col #}
		</div>{# end row #}
	</div>

    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            
            $('.debug-url').html('Delete Message: <strong>{{ data.raw.identifier }}</strong>');
        });
    </script>

{% endblock %}
