{% extends "base.html" %}

{% block title %}Signups{% endblock %} 

{% block body %}
	
	{% block modal %}
   <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
            
                <div class="modal-body">
                    <p>You are about to delete this entry, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
	{% endblock %}
	<div class="container">
		<h2>Subscribers</h2>
		{% if data %}
			{% for u in data %}
			<div class="row" style="background-color: #{{ loop.cycle('eee', 'ddd') }};">
				<div class="col-md-6">
					{{ u.email }}
				</div>
				<div class="col-md-3">
					{{ u.created.strftime('%Y-%m-%d  %H:%M:%S') }}
				</div>
				<div class="col-md-1">
					<button class="btn btn-default" data-href="{{ url_for('.signups', delete=u.id) }}" data-toggle="modal" data-target="#confirm-delete">
						<span class="icon-shield"></span>
					</button>
				</div>
			</div>{# end row #}
			{% endfor %}
		{% endif %}{# end data #}
	</div>

    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>


{% endblock %}
