{% extends "base.html" %}

{% block title %}User{% endblock %} 

{% block body %}
	
	<div class="container">
		<form role="form" action="" method="post"> {{ form.hidden_tag() }}
		<div class="row">
			<div class="col-lg-12">
				<h2>Add/edit user</h2>
			</div>
		</div> {# end row #}

		<div class="row">
			<div class="col-md-2">
				{{ form.email.label }}
			</div>{# end col #}
			<div class="col-md-8">
				<div class="form-group">
					{{ form.email(size=80) }}
					{% if form.email.errors %}
						{% for e in form.email.errors %}
							<p class="help-block">{{ e }}</p>
						{% endfor %}
					{% endif %}
				* <i>Mandatory</i>
				</div>
			</div>{# end col #}
			<div class="col-md-2">
			</div>
		</div> {# end row #}
		<div class="row">
			<div class="col-md-2">
				{{ form.name.label }}
			</div>{# end col #}
			<div class="col-md-8">
				<div class="form-group">
					{{ form.name(size=80) }}
					{% if form.name.errors %}
						{% for e in form.name.errors %}
							<p class="help-block">{{ e }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>{# end col #}
			<div class="col-md-2">
			</div>
		</div> {# end row #}
			{% if not data %}
				Only modify the password field if you want to update the password
			{% endif %}
		<div class="row">
			<div class="col-md-2">
				{{ form.password.label }}
			</div>{# end col #}
			<div class="col-md-8">
				<div class="form-group">
					{{ form.password(size=80) }}
					{% if form.password.errors %}
						{% for e in form.password.errors %}
							<p class="help-block">{{ e }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>{# end col #}
			<div class="col-md-2">
			</div>
		</div> {# end row #}
		<div class="row">
			<div class="col-md-2">
				{{ form.confirm.label }}
			</div>{# end col #}
			<div class="col-md-8">
				<div class="form-group">
					{{ form.confirm(size=80) }}
					{% if form.confirm.errors %}
						{% for e in form.confirm.errors %}
							<p class="help-block">{{ e }}</p>
						{% endfor %}
					{% endif %}
				</div>
			</div>{# end col #}
			<div class="col-md-2">
			</div>
		</div> {# end row #}
		<button type="submit" class="btn btn-primary">Send</button>
		</form>

		<div class="row">
			&nbsp
		</div>
	
		{% if data %}
			<div class="row">
				Existing users
			</div>
			{% for u in data %}
			<div class="row">
				<div class="col-md-4">
					{{ u.email }}
				</div>
				<div class="col-md-4">
					{% if u.name != 'false' %} {{ u.name }} {% else %} n/a {% endif %}
				</div>
				<div class="col-md-3">
					{{ u.created.strftime('%Y-%m-%d  %H:%M:%S') }}
				</div>
				<div class="col-md-1">
					<a href="{{ url_for('.user_edit', edit=u.id) }}"> <span class="icon-note"></a>
					<a href="{{ url_for('.user_delete', delete=u.id) }}"> <span class="icon-user-unfollow"></a>
				</div>
			</div> {# end row #}
			{% endfor %}
		{% endif %} {#end data #}
	</div> {# end container #}

{% endblock %}
