{% extends "base.html" %}

{% block title %}Volunteer Areas{% endblock %} 

{% block body %}
	
	<div class="container">
		<form role="form" action="" method="post"> {{ form.hidden_tag() }}
		<div class="row">
			<div class="col-lg-12">
				<h2>Volunteer Areas</h2>
			</div>
		</div> {# end row #}

		<div class="row">
			<div class="col-md-2">
				{{ form.name.label }}
			</div>{# end col #}
			<div class="col-md-8">
				<div class="form-group">
					{{ form.name(size=40) }}
					{% if form.name.errors %}
						{% for e in form.name.errors %}
							<p class="help-block">{{ e }}</p>
						{% endfor %}
					{% endif %}
				* <i>Mandatory</i>
				</div>
			</div>{# end col #}
			<div class="col-md-2">
			</div>
		</div> {# end row #}
		<div class="row">
			<div class="col-md-2">
				{{ form.note.label }}
			</div>{# end col #}
			<div class="col-md-8">
				<div class="form-group">
					{{ form.note(cols='40, rows=20') }}
					{% if form.note.errors %}
						{% for e in form.note.errors %}
							<p class="help-block">{{ e }}</p>
						{% endfor %}
					{% endif %}
				* <i>Mandatory</i>
				</div>
			</div>{# end col #}
			<div class="col-md-2">
			</div>
		</div> {# end row #}
		<button type="submit" class="btn btn-primary">Send</button>
		</form>

		{% if data %}
			<div class="row">
				Volunteer Areas	
			</div>
			{% for d in data %}
			<div class="row">
				<div class="col-md-4">
					{{ d.name }}
				</div>
				<div class="col-md-4">
					{{ d.note }}
				</div>
				<div class="col-md-3">
					{{ d.created.strftime('%Y-%m-%d  %H:%M:%S') }}
				</div>
				<div class="col-md-1">
					<a href="{{ url_for('.topic_edit', topic=d.id) }}"> <span class="icon-note"></a>
				</div>
			</div> {# end row #}
			{% endfor %}
		{% endif %} {#end data #}
	</div> {# end container #}

{% endblock %}
